<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>SimpleMusicPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="theme-dark">
    <div>
        <search>
            <form action="/search" method="GET">
                <input type="search" name="q" placeholder="Введите текст для поиска">
                <button type="submit">Найти</button>
            </form>
        </search>
        <a href="my_wave">
            <button type="button">
                Моя волна
            </button>
        </a>
        <br>
        {{ tracks_names|safe }}
        <p>Страница может содержать нежелательный контент. Метка <strong>[E]</strong> в названии трека означает, что он
            содержит контент для взрослых. Автор не несет ответственности за любой контент, размещенный на сайте.</p>
    </div>
</body>

</html>