<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ song_full_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="theme-dark">
    <div>
        <h1>{{ song_full_name }}</h1>
        <img src="{{ song_cover }}" class="spinning-img"></img>
        <audio controls src="{{ song_url }}" preload="metadata" id="player"></audio>
        <button type="button" id="like">
            ❤️
        </button>
        <button type="button" id="dislike">
            💔
        </button>
        <a href="{{ previous_track_url }}">
            <button type="button">
                Предыдущий трек
            </button>
        </a>
        <a href="{{ next_track_url }}">
            <button type="button" id="next_track_button">
                Следующий трек
            </button>
        </a>
        <a href="/">
            <button type="button">
                На главную
            </button>
        </a>
        <p>{{ song_lyrics|safe }}</p>
    </div>
    <script>
        let player = document.getElementById("player")
        let img = document.querySelector(".spinning-img")
        player.addEventListener("play", () => { img.style.animation = "spinning 10s linear infinite"; })
        player.addEventListener("pause", () => { img.style.animation = "none"; })

        if (new URLSearchParams(window.location.search).get("from_wave") === "true") {
            let trackId = window.location.pathname.split("/")[2]
            let listened = false
            player.addEventListener("timeupdate", () => {
                let playerPos = player.currentTime
                if (playerPos / player.duration >= 0.8 && !listened) {
                    navigator.sendBeacon(`/feedback/ended/?player_pos=${playerPos}&track_id=${trackId}`)
                    listened = true
                }
            })

            let next_track_button = document.getElementById("next_track_button")
            next_track_button.addEventListener("click", () => {
                if (!listened) {
                    let playerPos = player.currentTime
                    navigator.sendBeacon(`/feedback/skipped/?player_pos=${playerPos}&track_id=${trackId}`)
                }
            })
        }

        let like_button = document.getElementById("like")
        like_button.addEventListener("click", () => { navigator.sendBeacon("like") })
        let dislike_button = document.getElementById("dislike")
        dislike_button.addEventListener("click", () => { navigator.sendBeacon("dislike") })
    </script>
</body>

</html>