<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ song_full_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="theme-dark">
    <div>
        <h1>{{ song_full_name }}</h1>
        <img src="{{ song_cover }}" class="spinning-img"></img>
        <audio controls src="{{ song_url }}" preload="metadata" id="player"
            onplay="document.querySelector('.spinning-img').style.animation = 'spinning 10s linear infinite';"
            onpause="document.querySelector('.spinning-img').style.animation = 'none';" ontimeupdate="
                if (new URLSearchParams(window.location.search).get('from_wave') === 'true') {
                    let playerPos = player.currentTime;
                    if (playerPos / player.duration >= 0.8 && !listened) {
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', `/feedback/ended/?player_pos=${playerPos}&track_id=${trackId}`, true);
                        xhr.onload = function() {console.log(xhr.status)};
                        xhr.send();
                        listened = true;
                    }
                }
            "></audio>
        <button type="button" id="like" onclick="{
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'like', true);
            xhr.onload = function() {console.log(xhr.status)};
            xhr.send();
        }">
            ❤️
        </button>
        <button type="button" id="dislike" onclick="{
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'dislike', true);
            xhr.onload = function() {console.log(xhr.status)};
            xhr.send();
        }">
            💔
        </button>
        <a href="{{ previous_track_url }}">
            <button type="button">
                Предыдущий трек
            </button>
        </a>
        <a href="{{ next_track_url }}">
            <button type="button" onclick="if (!listened) {
                    let playerPos = player.currentTime;
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', `/feedback/skipped/?player_pos=${playerPos}&track_id=${trackId}`, true);
                    xhr.onload = function() {console.log(xhr.status)};
                    xhr.send();
                }">
                Следующий трек
            </button>
        </a>
        <a href="/">
            <button type="button">
                На главную
            </button>
        </a>
        <p>{{ song_lyrics|safe }}</p>
        <p>Страница может содержать нежелательный контент. Метка <strong>[E]</strong> в названии трека означает, что он
            содержит контент для взрослых. Автор не несет ответственности за любой контент, размещенный на сайте.</p>
    </div>
    <script>
        if (new URLSearchParams(window.location.search).get("from_wave") === "true") {
            var trackId = window.location.pathname.split("/")[2]
            var listened = false
        }
        navigator.mediaSession.metadata = new MediaMetadata({ title: '{{ song_title }}', artist: '{{ song_artists }}', artwork: [{ src: '{{ song_cover }}', sizes: '1080x1080', type: 'image/png' }] })
    </script>
</body>

</html>